<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item">three components</li>
        <li class="list-group-item">game control with 2 buttons</li>
        <li class="list-group-item">when starting the game an event should be emitted each second</li>
        <li class="list-group-item">that event must be listened</li>
        <li class="list-group-item">when stopping the game, no more events should be emitted</li>
        <li class="list-group-item">a new component (odd and even) must be emmited according to the number emmited</li>
      </ul>
    </div>
    <div class="col-xs-12 text-center">
      <app-game-control (gameStart)="onGameStarted($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <ul class="list-group">
        <app-odd *ngFor="let odd of oddNumbers" [oddNumber]="odd" class="text-center text-info"></app-odd>
      </ul>
    </div>
    <div class="col-xs-6">
      <ul>
        <app-even *ngFor="let even of evenNumbers" [evenNumber]="even" class="text-center text-success"></app-even>
      </ul>
    </div>
  </div>
</div>
